In [1]:
import pandas as pd
import datetime as dt

## datetime methods

In [2]:
#create a date object
birthday = dt.date(1998, 4, 5)

In [3]:
#get info aboout date
birthday.day

5

In [4]:
birthday.year

1998

In [5]:
#datetime with timestamp
then = dt.datetime(2002, 9, 11, 9, 36, 23)

In [7]:
then.minute

36

In [8]:
then.second

23

## pandas datetime methods

In [10]:
#timestamp object
pd.Timestamp("Oct 15, 2018 12:38:27")

Timestamp('2018-10-15 12:38:27')

In [12]:
# datetimeindex object
dates = ["6:45am 15 Oct 2019", "13 Oct 2019, 8:30pm", "4/4/1978"]
dtIndex = pd.DatetimeIndex(dates)

In [13]:
dtIndex

DatetimeIndex(['2019-10-15 06:45:00', '2019-10-13 20:30:00',
               '1978-04-04 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [14]:
values = [234, 432, 129]
pd.Series(data=values, index=dtIndex)

2019-10-15 06:45:00    234
2019-10-13 20:30:00    432
1978-04-04 00:00:00    129
dtype: int64

In [15]:
#convert to datetime in several ways
pd.to_datetime("10-12-2018")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2014, 12, 13, 5, 43, 23))
pd.to_datetime(dates)

DatetimeIndex(['2019-10-15 06:45:00', '2019-10-13 20:30:00',
               '1978-04-04 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [16]:
times = pd.Series(dates)
times

0     6:45am 15 Oct 2019
1    13 Oct 2019, 8:30pm
2               4/4/1978
dtype: object

In [17]:
pd.to_datetime(times)

0   2019-10-15 06:45:00
1   2019-10-13 20:30:00
2   1978-04-04 00:00:00
dtype: datetime64[ns]

In [18]:
pd.date_range(start = "1-1-2015", end = "1-1-2018", freq="m")

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
               '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [22]:
pd.date_range(start="10-10-2018", end = "10-25-2018", periods=10)

DatetimeIndex(['2018-10-10 00:00:00', '2018-10-11 16:00:00',
               '2018-10-13 08:00:00', '2018-10-15 00:00:00',
               '2018-10-16 16:00:00', '2018-10-18 08:00:00',
               '2018-10-20 00:00:00', '2018-10-21 16:00:00',
               '2018-10-23 08:00:00', '2018-10-25 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [26]:
lotsOfDates = pd.date_range(start = "Jan 1, 2000", end = "15 Oct 2019", freq = "MS")
lotsOfDates

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01',
               ...
               '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01'],
              dtype='datetime64[ns]', length=238, freq='MS')

In [25]:
dateSeries = pd.Series(lotsOfDates)
dateSeries.head()

0   2000-01-01
1   2000-02-01
2   2000-03-01
3   2000-04-01
4   2000-05-01
dtype: datetime64[ns]

# pandas_datareader library

In [27]:
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data

ModuleNotFoundError: No module named 'pandas_datareader'